{% extends "layout.html" %}
   
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../static/images/pinky.jpeg" alt="" width="200" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis">Zo's Virtual Wardrobe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> With My Virtual Wardrobe, you'll always feel inspired and fashion-forward, as we turn your everyday closet into a delightful digital dress-up game.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('users.login')}}" >
            <button type="button" class="btn btn-outline-primary btn-lg px-4">Login</button>
          </a>
          <a href="{{ url_for('users.register')}}">
            <button type="button" class="btn btn-primary btn-lg px-4">Sign-up</button>
          </a>
        
      </div>
    </div>
  </div>
{% endblock content %}